body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 400;
    font-size: 1.125rem;
    color: #434343;
}

img{
    width: 100%;
    max-width: 100px;
}

/*******************
    Typography
*******************/

h1,h2,h4{
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
    font-size: 1.75rem;
}

h1{
    font-size: 2rem;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: #434343;
    font-weight: 700;
}

.header-title p, 
.article-subtitle{
    font-weight: 700;
}

span{
    color:  #E75A64;
    font-weight: 800;
}

ul{
    list-style: none;
    padding: 0; /*get rids of extra space on the side*/
}

.title-border{
    width: fit-content;
    margin: auto;
    padding: .5em 0;
    border-bottom: 1px solid #434343;
}

.contact-info-email{
    font-weight: 700;
    letter-spacing: .1em;
}

/*******************
    Layout
*******************/

.container{
    margin: auto; /*centering the container*/
    width: 90%;
    max-width: 800px;
    text-align: center;
}

.container-last{
    margin-bottom: 4em; /*giving it bottom margin*/
}

.container-flex{
    display: flex;
    flex-direction: column;
}


header{
    margin-top: 1.5em;
}

.header-image{
    margin: 0 auto; /*centering the picture*/
    border-radius: 80px;
}

/* navigation */
nav a{
    color: white;
}

.nav-list-item{
    padding: .5em 1em;
    background: #E75A64;
    border-radius: 90px;
    -webkit-box-shadow: -2px 7px 24px -1px rgb(82 52 175 / 45%);
}

.item-home{
    padding: .3em .5em;
}

.nav-item-home-image{
    max-width:35px;
}

nav li{
    margin: 1em auto; /*space for mobile*/
    transition: .5s;
}

nav li:hover{
    transform: scale(1.1);
}

nav ul{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}


/* article */

article{
   padding: .5em 2em;
   border-radius: 90px;
   margin-bottom: 16em; /*spacing between articles*/
}

.article-icons img{
    margin-top: 1.2rem;
}

.content-container{
    display: inline-block;
}

.article-first{
    margin-top: 8rem;
}

.article-last{
    margin-bottom: 0;
}

.article-list,
.article-sublist{
    margin: 0 auto; /*centering the list*/
}

.article-list-item{
    padding: 0.5em 0; /*space for mobile*/
}

.click-icon{
    width: 2.5rem;
}

.article-projects, .article-coding{
    position: relative;
    
}
.slide-elements-container{
    position: relative;
    height: 370px;
    transform: scale(0.7);
}

.article-slide-element{
    height: 260px;
    align-items: center;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    margin-bottom: 20px;
    border: 10px solid  #7e83d0;
    border-radius: 30px;
    text-align: start;
    background-color: white;
    
    position: absolute;
    transition: transform 0.4s;
}

.article-slide-element[data-status="active"]{
    z-index: 1;
}
.article-slide-element[data-status="after"]{
    z-index: 0;
    transform: translateX(74%) translateY(20%);
}

.article-slide-element[data-status="before"]{
    transform: translateX(-74%) translateY(20%);
    z-index: 0;
}

.article-slide-element[data-status="unknown"]{
    transform: scale(0);
    z-index: 0;
}

.article-education{
    margin-top: 40px;
    clear: both;
}

.buttons-container, .buttons-slide-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    cursor: pointer;
    
}
.fa-caret-left, .fa-caret-right{
    padding: 10px;
}

#right-btn, #left-btn{
    border: 1px solid rgb(40, 40, 40) ;
    border-radius: 50%;
}

.buttons-slide-container{
    margin-top: 20px;
}
.article-content-primary{
    width: 76%;
    order: 2;
}

.project-article-title{
    font-size: 1.3rem;
    font-weight: bolder;
}

.article-content-secondary{
    width: 20%;
    order: 1;
}
/* icons JavaScript manupilation*/
.content-container{
    cursor: pointer;
    transition: .5s;
}

.content-container p{
    overflow: hidden;
    color: #464646;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 2px;
}

.active{
    transform: scale(1.6);
    padding: 4px 5px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 15px;
}



/* footer */

footer{
    text-align: center;
    background: #a0a5f2;
    margin: auto;
    padding: 1.5em 0;
}

.contact-info{
    color: white;
    margin-bottom: 2em;
}

.contact-images{
    max-width: 80px;
    margin: 0 .5em;
}

.contact-images:hover{
    opacity: .75;
}

.progress-num{
    color: white;
}

/*Animation on scroll*/
.hidden{
    opacity: 0;
    transition: all 1.5s;
    transform: translateX(-100%);
}

.show{
    opacity: 1;
    transform: translateX(0);
}

/* desktop media query 
   (min-width) from width of 870px to BIGGER (deleted)
*/
@media (min-width: 870px){

    .container-flex{
        flex-direction: row;
        justify-content: center;
    }

    .container-flex-header{
        align-items: center;
    }

    .header-title{
        text-align: start;
    }

    .header-image{
       margin: 0 .5em;
    }

     /* Progress Bar */

     .progress-section{

        position: fixed;
        right: 20px;
        top: 25%;
        height: 20%;
        width: 56px;
        display: flex;
        justify-content: space-between;
        transition: .03s ease-out;
    }

    .progress-bar-wrap{
        position: relative;
        width: 5px;
        border: 1px solid black;
        border-radius: 10px;
        overflow: hidden;
        background-color: rgb(70,70,70);
    }

    .progress-bar{
        position: absolute;
        top: 0;
        width: 100%;
        height: 0%;
        background-color: #E75A64;;
    }

    
    .progress-num{
    color: #464646;
    }
   

    body::-webkit-scrollbar{
        display: none; /*removing the scroll bar*/
    }


}
