body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    font-size: 1.125rem;
    color: #434343;
}

img{
    width: 100%;
    max-width: 100px;
}

/*******************
    Typography
*******************/

h1,h3,h4{
    font-size: 1.5rem;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 700;
}

h1{
    font-weight: 800;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: #434343;
}

.header-title p, 
.article-subtitle{
    font-weight: 700;
}

span{
    color:  #E75A64;
    font-weight: 800;
}

/*******************
    Layout
*******************/

.container{
    width: 90%;
    max-width: 900px;
    margin: 0 auto; /*centering the container*/
    text-align: center;
}

.container-flex{
    display: flex;
    flex-direction: column;
}

header{
    margin-top: 1.5em;
}

.header-image{
    margin: 0 auto; /*centering the picture*/
    border-radius: 80px;
}

/* navigation */
nav a{
    padding: .5em 1em; 
    color: white;
    background: #E75A64;
    border-radius: 90px;
}

nav li{
    margin: 1em auto; /*space for mobile*/
    transition: .5s;
}

nav li:hover{
    transform: scale(1.1);
}

nav ul{
    list-style: none;
    padding: 0; /*get rids of extra space on the side*/
    display: flex;
    flex-direction: column;
    margin-top: 2em;
}

/* article */

article{
   padding: .5em 0;
   border: 10px solid  #7e83d0;
   border-radius: 90px;
   margin-top: 1.5em;
}

.article-link:hover{
    color: #a0a5f2;
}

aside{
    margin-bottom: 4em;
}

.title-border{
    width: fit-content;
    margin: auto;
    padding: .5em 0;
    border-bottom: 1px solid #434343;
}

.article-list,
.article-sublist{
    max-width: 200px;
    margin: 0 auto; /*centering the list*/
}

.article-list-item{
    padding: 0.5em 0; /*space for mobile*/
}

.article-content{
    margin: 1em 1em;

}

/* footer */

footer{
    text-align: center;
    background: #a0a5f2;
    padding: 1.5em 0;
}

.contact-info{
    color: white;
    margin-bottom: 2em;
}

.contact-info-email{
    font-weight: 700;
    letter-spacing: .1em;
}

/* desktop media query 
    from width of 635px to BIGGER
*/
@media (min-width:635px){

    .nav-list-item{
        margin-left: 15px;
        margin-right: 15px;
        max-width: 300px;
    }

    nav ul{
        flex-direction: row;
        justify-content: center;
    }

    .container-flex{
        flex-direction: row;
        margin-bottom: 4em;
    }

    main{
        width: 65%;
    }

    aside{
        width: 35%;
        min-width: 225px;
        margin-left: 10px;
    }
}
