*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    height: 100vh; /*full screen*/
    background: linear-gradient(rgb(47,150,163),rgb(48,62,143));
    color: white;
}

.user-location-container{
    width: 80%;
    max-width: 900px;
    display: flex;
    justify-content: center;
    margin: 5rem auto;   
}

.user-location-container h1{
    display: flex;
    align-items: center;
    font-size: 1.9rem;
    margin-right: 1rem;
}

.main-container{
    width: 80%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.other-location-container{
    width: 60%;
    margin-right: 2rem;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.search-container{
    width: 60%;
    margin: auto;
    padding: 10px;
    border-radius: 26px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    border: 3px solid white;
}

.search-bar{
    margin-left: 10px;
    border-radius: 20px;
    width: 70%;
    background: rgba(250,250,250,0.5);
    text-indent: 8px;
    padding: 4px;
}

#addBtn, #deleteBtn{
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    font-size: 1.2rem;
    transition: .5s;
    /*centering icon inside the button*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#addBtn{
    color: rgb(14, 203, 14);
    background-color: white;
}

#deleteBtn{
    color: rgb(232, 58, 58);
    background-color: white;
}

#addBtn:hover{
    color: white;
    background: rgb(14, 203, 14);
}
#deleteBtn:hover{
    color: white;
    background: rgb(232, 58, 58);
}
.user-location-info, .city-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 20px;
}

.user-location-info{
    width: 60%;
    padding: 10px 80px;
}

.city-container{
    padding: 10px;
    margin-bottom: 1.2rem;
}

.city-location{
    width: 20%;
    max-width: 100px;
}
/*hiding user dispay information until API fetched data*/
.user-location{
    display: none;
}
.user-location-degrees{
    display: none;
}

.active{
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

/*small screens*/
@media (max-width:700px){
    .search-container, .other-location-container, .user-location-info{
        width: 80%;
    }

    .user-location-container{
        flex-direction: column;
        align-items: center;
    }

    .user-location-info{
        padding: 10px;
    }

    .user-location-container h1{
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
        margin-right: 0;
    }
}