*{
    margin: 0;
    padding: 0;
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    box-sizing: border-box;
}

body{
    overflow-y: hidden;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word-container{
    margin: 10px auto;
    width: 80%;
    height: 40px;
    max-width: 500px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.button-container{
    margin-top: 30px;
    text-align: center;
}

#btn{
    font-size: 1.2rem;
    padding: 6px 10px;
    background-color: rgb(255, 132, 0);
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.alphabet-container{
   width: 80%;
   max-width: 800px;
   flex-wrap: wrap; 
   margin: 40px auto;
   display: flex;
   justify-content: center;
   text-align: center;

}

.alphabet-letter{
    width: 5%;
    font-size: 1.5rem;
    padding: 6px;
    margin: 4px 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
    border: 1px solid #464646;
}

.alphabet-letter:hover{
    background-color:rgba(170,170,170,0.5);
    border: 1px solid white;
}

.alphabet-letter.inactive{
    color: white;
    border: 1px solid white;
    background-color:rgba(170,170,170,0.5);

}

/* empty space (revealing letters)*/
.letter{
    color:white;
    padding: 10px 10px;
    margin: 4px;
    border-bottom: 2px solid black;
}

/*Hangman display*/
.hangman-container{
    width: 20%;
    max-width: 600px;
    height: 110px;
    margin: 10px auto;
    padding: 4px;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    border: 2px solid #161616;
    border-radius: 40px;
}


.bottom-line{
    position: relative;
    width: 60px;
    height: 3px;
    background: black;
    display: none;
}

.horizontal-line{
    position: absolute;
    width: 3.5px;
    height: 90px;

    background: black;
    display: none;
}

.vertical-line{
    position: absolute;
    width: 60px;
    height: 3px;
    background: black;

    margin-bottom: 90px;
    margin-left: 50px;
    display: none;
     
}

.binding-line{
    position: absolute;
    width: 2px;
    height: 20px;
    background: black;

    transform: rotate(45deg);

    margin-bottom: 75px;
    margin-left: 15px;
    display: none;

}
.rope{
    position: absolute;
    width: 2px;
    height: 20px;
    background: black;

    margin-bottom: 70px;
    margin-left: 107px;
    display: none;
}

.head{
    position: absolute;
    width: 12px;
    height: 12px;
    background: black;
    border-radius: 50%;

    margin-bottom: 68px;
    margin-left: 107px;
    display: none;

}

.body{
    position: absolute;
    width: 2px;
    height: 25px;
    background: black;
    margin-bottom: 45px;
    margin-left: 107px;
    display: none;
}

.left-arm{
    position: absolute;
    width: 2px;
    height: 12px;
    background: black;
    transform: rotate(30deg);
    margin-bottom: 55px;
    margin-left: 100px;
    display: none;
}

.right-arm{
    position: absolute;
    width: 2px;
    height: 12px;
    background: black;
    transform: rotate(-30deg);
    margin-bottom: 55px;
    margin-left: 113px;
    display: none;
}

.left-leg{
    position: absolute;
    width: 2px;
    height: 12px;
    background: black;
    transform: rotate(30deg);
    margin-bottom: 35px;
    margin-left: 100px;
    display: none;
}

.right-leg{
    position: absolute;
    width: 2px;
    height: 12px;
    background: black;
    transform: rotate(-30deg);
    margin-bottom: 35px;
    margin-left: 113px;
    display: none;

}

.mistake-count{
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 20px;
}

.game-win-lose{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.game-status{
    padding: 20px 66px;
    border-radius: 20px;
    background-color: white;
    color: white;
}
